**/BATS/output_apecosm
**/BATS/output_apecosm_2w
**/BATS/output_pisces
**/BATS/output_pisces_2w
**/HOT/output_apecosm
**/HOT/output_apecosm_2w
**/HOT/output_pisces
**/HOT/output_pisces_2w
**/KERFIX/output_apecosm
**/KERFIX/output_apecosm_2w
**/KERFIX/output_pisces
**/KERFIX/output_pisces_2w
**/one-way/output_apecosm
**/one-way/output_apecosm_2w
**/one-way/output_pisces
**/one-way/output_pisces_2w
**/two-ways/output_apecosm
**/two-ways/output_apecosm_2w
**/two-ways/output_pisces
**/two-ways/output_pisces_2w
**/apecosm-forced
**/nemo-pisces
*.asv
**/Figures
